@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat.ttf");
}
@font-face {
    font-family: "Playball";
    src: url("./Playball.ttf");
}
:root {
    --primary-color: rgb(18, 18, 18);
    --secondary-color: rgb(254, 248, 229);
    --tertiary-color: rgb(204, 191, 150);
    --font-primary-color: rgb(254, 248, 229);
    --font-secondary-color: rgb(18, 18, 18);
    --font-tertiary-color: rgb(204, 191, 150);
    --nav-color: rgba(18, 18, 18, 0.4);
    --nav-link-color: rgb(254, 248, 229);
    --nav-link-active-color: rgb(254, 248, 229);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    font-size: min(2vmin, 14px);
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  var(--primary-color);
    color: var(--font-primary-color);
    width: 100%;
    font-size: 2rem;
}
body * {
    font-size: 1em;
}
h1 {
    font-size: 3.5em;
    font-family: "Playball", cursive;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 1.5em;
}
p {
    margin: 0.7em 0 0.7em 0;
}
img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
section, footer {
    padding-top: 5.5rem;
}
section > h2, footer > h2 {
    text-align: center;
}


.nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2rem 0 2rem 0;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 5.5rem;
    backdrop-filter: blur(10px);
    background-color: var(--nav-color);
    z-index: 10000000;
}
.nav > * {
    text-decoration: none;
}
a:link, a:visited {
    color: var(--nav-link-color);
}
a:hover, a:active {
    color: var(--nav-link-active-color);
}
.nav-horizontal #logo {
    margin-right: 3rem;
}
.nav #logo img {
    height: 4rem;
    width: auto;
}
.nav-vertical {
    display: none;
    height: 100%;
    flex-direction: column;
}
.nav-vertical-wrapper {
    display: none;
    z-index: 10000000;
    position: fixed;
    top: 0;
    left: 0;
}
#nav-open-btn, #nav-close-btn {
    display: none;
    position: fixed;
    top: 3rem;
    right: 2rem;
    height: 4rem;
    width: auto;
}
#nav-close-btn {
    z-index: 10000001;
}


#home {
    width: 100%;
    height: 85vh;
    background: url("./background.png") center / cover no-repeat;
    color: var(--font-primary-color);
    font-size: 1em;
}
#hero {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
}
#hero h2 {
    position: relative;
    left: 7%;
    top: 15%;
    width: 86%;
    font-size: 2em;
}
#hero > div {
    position: relative;
    top: 35%;
    left: 7%;
    width: 86%;
    overflow : auto;
}
#hero p {
    font-size: 1.6em;
}


#services {
    padding: 5.5rem 15% 2.5rem 15%;
    background-color: var(--tertiary-color);
    color: var(--font-secondary-color);
}
#services div {
    display: flex;
    flex-direction: column;
    margin-top: 1.6em;
    gap: 1.6em;
    user-select: none;
}
#services summary {
    margin-bottom: 0.4em;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#services summary::marker {
    content: none;
}
#services summary::before {
    content: " ";
    display: inline-block;
    background: url("./triangle.svg") center / contain no-repeat;
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
}
#services summary.beforeRotate0::before {
    animation: rotate0 0.1s forwards linear;
}
#services summary.beforeRotate90::before {
    animation: rotate90 0.1s forwards linear;
}


#references {
    padding: 5.5rem 6% 5rem 6%;
}
#references > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2.5em;
    gap: 2.5em;
}
#references > img {
    height: auto;
    object-fit: cover;
    object-position: center;
}
#references .project-large {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    flex-grow: 1;
}
#references .project-large-reverse {
    flex-direction: row-reverse;
}
#references .project-large > img {
    width: 50vw;
}
#references .project-small {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    font-size: 0.7em;
    width: 40vw;
}
#references .project-small > img {
    width: 100%;
}
#references .portfolio {
    text-align: center;
    font-size: 1.5em;
}
#references .partner-logos-wrapper {
    width: 88vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    mask-image: linear-gradient(90deg, transparent, #000000 5%, #000000 95%, transparent);
}
#references .partner-logos-wrapper::-webkit-scrollbar {
    display: none;
}
#references .partner-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8em;
    padding-right: 8em;
    box-sizing: border-box;
    animation: spin 30s infinite linear;
}
#references .partner-logos img {
    flex: 0 0 0;
    height: 3em;
    width: auto;
}


#about {
    padding: 5.5rem 15% 5rem 15%;
    background-color: var(--secondary-color);
    color: var(--font-secondary-color);
}
#about .dimmer {
    display: none;
}
#about .history, #about .present {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    text-align: justify;
    font-size: 1.2em;
}
#about .history img, #about .present img {
    width: 35vw;
    height: auto;
}
#about .present {
    flex-direction: row-reverse;
}


#contact {
    width: 100%;
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    background-color: var(--primary-color);
    color: var(--font-primary-color);
}
#contact i {
    color: var(--font-primary-color);
}
#contact iframe {
    width: 100%;
    height: 10em;
}
#contact .phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: var(--secondary-color);
    padding: 1em 4em;
    color: var(--font-secondary-color);
}
#contact .phone p {
    margin: 0;
}
#contact .phone a {
    color: var(--font-secondary-color);
}
#contact .email {
    background-color: var(--secondary-color);
    color: var(--font-secondary-color);
    padding: 1em 4em;
}


#developer {
    width: 100%;
    color: #eaeaea;
    background-color: #000000;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
    margin: 0;
}
#developer * {
    font-size: 1em;
}
#developer > a:link, #developer > a:visited {
    color: #dadada;
}
#developer > a:hover, #developer > a:active {
    color: #ffffff;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes spin {
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}
@keyframes rotate0 {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0);
    }
}
@keyframes rotate90 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(90deg);
    }
}


@media (max-aspect-ratio: 1/1) {
    .nav-horizontal {
        display: none;
    }
    .nav-vertical-wrapper {
        display: block;
    }
    #nav-open-btn {
        display: block;
    }


    #services {
        padding: 5.5rem 7% 2.5rem 7%;
    }


    #references .project-large {
        flex-direction: column;
    }
    #references .project-large-reverse {
        flex-direction: column;
    }
    #references .project-large > img, #references .project-small {
        font-size: 1em;
        width: 100%;
    }


    #about {
        padding: 5.5rem 7% 5rem 7%;
    }
    #about {
        padding: 5.5rem 0 5rem 0;
    }
    #about .history, #about .present {
        position: relative;
    }
    #about .dimmer {
        display: block;
        z-index: 10000;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    #about .history > p, #about .present > p {
        position: absolute;
        z-index: 10001;
        padding: 0 7%;
        color: var(--font-primary-color);
    }
    #about .history img, #about .present img {
        width: 100%;
        height: auto;
    }



    #contact .phone {
        padding: 1em 2em;
    }
    #contact .address {
        padding: 0 7%;
        text-align: center;
    }
}
