/* Should match entries from settings.system, can have more that that */
:root {
    --primary-color: #eaeaea;
    --font-primary-color: #100546;
    --font-secondary-color: #eaeaea;
    --nav-color: #eaeaea;
    --link-color: #000000;
    --link-active-color: #000000;
    --contact-btn-bg-color: #000000;
    --contact-btn-font-color: #000000;
    --button-background: #eaeaea;
    --button-font-color: #000000;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1vmin;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  var(--primary-color);
    color: var(--font-primary-color);
    width: 100%;
    font-size: 2rem;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body * {
    font-size: 1em;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
h1 {
    font-size: 5em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 1.5em;
}
p {
    margin: 1em 0 1em 0;
}
img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2rem 0 2rem 0;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 5.5rem;
    opacity: 0.9;
    background-color: var(--nav-color);
    z-index: 10000000;
}
nav > * {
    text-decoration: none;
}
a:link, a:visited {
    color: var(--link-color);
}
a:hover, a:active {
    color: var(--link-active-color);
}
section > h2, footer > h2 {
    padding-top: 5.5rem;
    text-align: center;
}
nav #logo {
    margin-right: 3rem;
}
nav #logo img {
    height: 4rem;
    width: auto;
}


#home {
    width: 100%;
    height: 85vh;
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--font-secondary-color);
    font-size: 1em;
}
#hero {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
}
#hero h2 {
    position: relative;
    left: 7%;
    top: 15%;
    width: 93%;
    font-size: 2em;
}
#hero > div {
    position: relative;
    top: 35%;
    left: 7%;
    width: 93%;
    overflow : auto;
}
#hero p {
    font-size: 1.6em;
}


#services {
    padding: 0 15%;
}
#services div {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
    gap: 2.5em;
    user-select: none;
}
#services summary {
    margin-bottom: 0.6em;
    cursor: pointer;
}


#references {
    padding: 0 6%;
}
#references > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.5em;
    gap: 2.5em;
}
#references > img {
    height: auto;
    object-fit: cover;
    object-position: center;
}
#references .project-large {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    flex-grow: 1;
}
#references .project-large-reverse {
    flex-direction: row-reverse;
}
#references .project-large > img {
    width: 40vw;
}
#references .project-small {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    font-size: 0.7em;
    width: 30%;
}
#references .project-small > img {
    width: 100%;
}
#references .portfolio {
    text-align: center;
    font-size: 1.5em;
}
#references .partner-logos-wrapper {
    width: 88vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    mask-image: linear-gradient(90deg, transparent, #000000 5%, #000000 95%, transparent);
    margin: 0 0 2em 0;
}
#references .partner-logos-wrapper::-webkit-scrollbar {
    display: none;
}
@keyframes spin {
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}
#references .partner-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8em;
    padding-right: 8em;
    box-sizing: border-box;
    animation: spin 30s infinite linear;
}
#references .partner-logos img {
    flex: 0 0 0;
    height: 3em;
    width: auto;
}


#about {
    padding: 0 10%;
}
#about .history, #about .present {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    text-align: justify;
}
#about .history img, #about .present img {
    width: 40vw;
    height: auto;
}
#about .present {
    flex-direction: row-reverse;
}


#contact {
    width: 100%;
    padding: 0 10%;
    margin-bottom: 3em;
}
#contact .contact-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
}
#contact .contact-wrapper > div {
    display: grid;
    grid-template-areas:
        "contact-title contact-val"
        "contact-title contact-val"
        "contact-title contact-val"
        "contact-title contact-val"
    ;
    column-gap: 0.5em;
    row-gap: 3em;
    align-items: center;
}
#contact .contact-wrapper span {
    font-weight: bold;
}
#contact iframe {
    width: 40vmin;
    height: 20em;
}


#developer {
    width: 100%;
    color: #eaeaea;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem 0 1rem 0;
    margin: 0;
}
#developer * {
    font-size: 1em;
}
#developer > a:link, #developer > a:visited {
    color: #dadada;
}
#developer > a:hover, #developer > a:active {
    color: #ffffff;
}
